* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.carousel {
  padding: 5rem;
  color: white;
  max-width: 100vw;
}

.slider-forecast-box {
  min-height: 200px;
  max-width: 690px;
  border-radius: 18px;
  display: flex;
  justify-content: center;
  background: linear-gradient(
    90deg,
    rgba(44, 46, 45, 1) 0%,
    rgba(14, 16, 15, 1) 91%
  );
}

.slider-forecast-box h3 {
  text-align: center;
}

.slick-slide div {
  margin: 0 1rem;
}

.MuiContainer-root {
  padding: 22px;
}

.slick-dots li.slick-active button:before {
  color: lightgreen !important;
}

.slick-dots li button:before {
  color: white;
  font-size: 1rem;
  top: 2rem;
}
