/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400&display=swap");

:root {
  /* background: #4c4c4c; */
  background: #1e1f24;
  /* background: url("https://images.pexels.com/photos/956999/milky-way-starry-sky-night-sky-star-956999.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
    no-repeat center center fixed; */
  /* background: url("https://mattsko.files.wordpress.com/2018/04/japanese-art-rain-gif.gif")
    no-repeat center center fixed; */

  background-size: cover;
  font-family: "Poppins", sans-serif;
  /* background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20201009/pngtree-science-or-technology-background-with-dynamic-particles-trendy-colorful-design-template-image_406781.jpg"); */
}
/* https://source.unsplash.com/1920x1080/?london */
